# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/proxy  # если соберёшь бинарник

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env